body {
    background: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Middle {
    display: none;
    background: white;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
  }
  
  @media screen and (min-width: 1024px) {
    body {
      background: rgba(0, 0, 255, 0.5);
    }
  
    .Middle {
      display: flex;
      border-radius: 25px;
    }
  
    .Middle::after {
      content: "Web 1024px -->";
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
      background: rgba(255, 0, 0, 0.5);
    }
  
    .Middle {
      display: flex;
      border-radius: 10px;
    }
  
    .Middle::after {
      content: "Tablet 768px --> 1024px";
    }
  }
  
  @media screen and (min-width: 425px) and (max-width: 767px) {
    body {
      background: rgba(0, 128, 0, 0.5);
    }
  
    .Middle {
      display: flex;
      border-radius: 5px;
    }
  
    .Middle::after {
      content: "Mobile 425px --> 768px";
    }
  }